
@{
    ViewData["Title"] = "編輯喵星人資訊";
}
@section Styles{
    @*引用bootstrap*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    @*引用bootstrap icon*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    @*引用googlefont*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap" rel="stylesheet">
    @*引用fontawesome*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="~/css/catManagement/editCat.css" rel="stylesheet" />

}
<!-- 導覽列 -->
<div class=" container " id="app">
    <div class="col-lg-3 col-md-2 col-sm-0 col-xs-0 hidden-sm hidden-xs ">
        <!--選單列-->
        <div class="menu  ">
            <ul>
                <li class="menu-list ">
                    <a asp-controller="Membership" asp-action="Editor">資料修改</a>
                    <i class="bi bi-caret-right-fill "></i>
                </li>
                <li class="menu-list ">
                    <a href="# ">收藏居民</a>
                    <i class="bi bi-caret-right-fill "></i>
                </li>
                <li class="menu-list ">
                    <a asp-controller="MeowChat" asp-action="MessageManage">聊天訊息</a>
                    <i class="bi bi-caret-right-fill "></i>
                </li>
                <li class="menu-list ">
                    <a href="# ">行程管理</a>
                    <i class="bi bi-caret-right-fill "></i>
                </li>
                <li class="menu-list">
                    <a asp-controller="CatManagement" asp-action="ManageCat" style="color:#DA8952">管理居民</a>
                    <i class="bi bi-caret-right-fill manage-meow"></i>
                </li>
            </ul>
            <div class="bg-pic">
                <img class="pic-planet" src="~/images/綠色/貓星球-綠色.PNG" />
            </div>
        </div>
    </div>
    <!--右邊區塊-->
    <div id="meow-manage-area" class="col-lg-9 col-md-10 col-sm-12 col-xs-12 ">
        <!--管理喵喵區塊-->
        <div class="meow-manage-title">★編輯喵星人資訊</div>
        <div class="start-date">
            <p>刊登日期: @ViewData["PublishedDay"]</p>
        </div>
        <!--喵喵資料-->
        <form class="form-group" method="post" enctype="multipart/form-data" asp-controller="CatManagement" asp-action="EditConfirm">
            <div style="display:none;">
                <input type="text" name="CatId" v-model:text="catInfo.CatId" />
            </div>
            <!--新增喵喵照片-->
            <div class="pic-area">
                <div class="big">
                    <img :src="catFoto.Photo1" v-on:click="selectPhoto(1)" />
                    <input type="file" name="files" id="photo1" v-on:change="readURI(1)" style="width:150px;height:150px;">
                </div>
                <hr />
                <div class="small">
                    <div class="s-1">
                        <img :src="catFoto.Photo2" v-on:click="selectPhoto(2)" />
                        <input type="file" name="files" id="photo2" v-on:change="readURI(2)" style="width:50px;">
                    </div>
                    <div class="s-1">
                        <img :src="catFoto.Photo3" v-on:click="selectPhoto(3)" />
                        <input type="file" name="files" id="photo3" v-on:change="readURI(3)" style="width:50px;">
                    </div>
                    <div class="s-1">
                        <img :src="catFoto.Photo4" v-on:click="selectPhoto(4)" />
                        <input type="file" name="files" id="photo4" v-on:change="readURI(4)" style="width:50px;">
                    </div>
                </div>
            </div>
            <!--新增喵喵資訊-->
            <div class="info-area">
                <div class="info-area">
                    <div class="group">
                        <label for="Name">名稱:</label>
                        <input type="text" name="Name" v-model:text="catInfo.Name" placeholder="喵星人的名字 ">
                    </div>
                    <div class="group">
                        <label for="Vaccine"> 疫苗:</label>
                        <select name="Vaccine" v-model="catInfo.Vaccine">
                            <option value="已施打">已施打</option>
                            <option value="未施打">未施打</option>
                            <option value="未知">未知</option>
                        </select>
                        <label for="Ligation"> 結紮:</label>
                        <select name="Ligation" v-model="catInfo.Ligation">
                            <option value="已結紮">已結紮</option>
                            <option value="未結紮">未結紮</option>
                            <option value="未知">未知</option>
                        </select>
                        <label for="Chip">晶片:</label>
                        <select name="Chip" v-model="catInfo.Chip">
                            <option value="有">有</option>
                            <option value="沒有">沒有</option>
                            <option value="未知">未知</option>
                        </select>
                    </div>
                    <div class="group">
                        <label for="City">可預約看貓縣市:</label>
                        <input type="text" name="City" v-model:text="catInfo.City" id="City" size="3" placeholder="台北市" />
                        <label for="Country">區域:</label>
                        <input type="text" name="Country" v-model:text="catInfo.Country" id="Country" size="3" placeholder="大安區" />
                    </div>
                    <div class="group">
                        <label for="CatGender">性別:</label>
                        <select name="CatGender" v-model="catInfo.CatGender">
                            <option value="1">公</option>
                            <option value="2">母</option>
                        </select>
                        <label for="Age">年齡:</label>
                        <select name="Age" v-model="catInfo.Age">
                            <option value="0-3月">0-3月</option>
                            <option value="3-5月">3-5月</option>
                            <option value="5-7月">5-7月</option>
                            <option value="7-12月">7-12月</option>
                            <option value="1-3歲">1-3歲</option>
                            <option value="3-8歲">3-8歲</option>
                            <option value="8歲以上">8歲以上</option>
                        </select>
                        <label for="CatColor">毛色:</label>
                        <select name="CatColor" v-model="catInfo.CatColor">
                            <option value="橘貓">橘貓</option>
                            <option value="三花貓">三花貓</option>
                            <option value="虎斑">虎斑</option>
                            <option value="玳瑁">玳瑁</option>
                            <option value="藍貓">藍貓</option>
                            <option value="黑白貓">黑白貓</option>
                            <option value="黑貓">黑貓</option>
                            <option value="白貓">白貓</option>
                        </select>
                    </div>
                    <div class="group">
                        <label for="Sick ">喵星人疾病史: </label>
                        <input type="text" name="Sick" class="sick" v-model:text="catInfo.Sick" placeholder="請詳述(無則填寫無)">
                    </div>
                    <div class="group">
                        <div>
                            <label for="Remark">其他備註:</label>
                        </div>
                        <div>
                            <textarea v-model="catInfo.Remark" name="Remark" placeholder="在這邊輸入備註，最多100字 " maxlength="100 " rows="3" cols="40"></textarea>
                        </div>
                    </div>
                    <div class="center-btn group">
                        <button type="submit">修改</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                catFoto: {
                    "Photo1": "@ViewData["Image"]",
                    "Photo2": "@ViewData["Image2"]",
                    "Photo3": "@ViewData["Image3"]",
                    "Photo4": "@ViewData["Image4"]",
                },
                catInfo: {
                    "CatId":"@ViewData["CatId"]",
                    "Name": "@ViewData["Name"]",
                    "Vaccine": "@ViewData["Vaccine"]",
                    "Ligation": "@ViewData["Ligation"]",
                    "Chip": "@ViewData["Chip"]",
                    "City": "@ViewData["City"]",
                    "Country": "@ViewData["Country"]",
                    "CatGender": "@ViewData["CatGender"]",
                    "Age": "@ViewData["Age"]",
                    "CatColor": "@ViewData["CatColor"]",
                    "Sick": "@ViewData["Sick"]",
                    "Remark":"@ViewData["Remark"]"
                }
            },
            methods: {
                selectPhoto(n) {
                    let uploder = null;
                    switch (n) {
                        case 1:
                            uploder = document.getElementById("photo1");
                            break;
                        case 2:
                            uploder = document.getElementById("photo2");
                            break;
                        case 3:
                            uploder = document.getElementById("photo3");
                            break;
                        default:
                            uploder = document.getElementById("photo4");
                            break;
                    }
                    uploder.click();
                },
                readURI(n) {
                    //處理圖片預覽
                    if (event.target.files && event.target.files[0]) {
                        var reader = new FileReader();
                        reader.onload = (e) => {
                            switch (n) {
                                case 1:
                                    this.catFoto.Photo1 = e.target.result;
                                    break;
                                case 2:
                                    this.catFoto.Photo2 = e.target.result;
                                    break;
                                case 3:
                                    this.catFoto.Photo3 = e.target.result;
                                    break;
                                case 4:
                                    this.catFoto.Photo4 = e.target.result;
                                    break;

                            }

                        }
                        reader.readAsDataURL(event.target.files[0]);
                    }
                }
            }
        });
    </script>
}