@section Styles{    
    <link href="~/css/CatDetail/catDetail.css" rel="stylesheet" />
}

<div class="container" id="app">
    <div class="area-pic">
        <img id="image" class="meow-pic" :src="catPic.Photo1" />
        <hr style="height: 1px; background-color: #FEF2CB; " />
        <img class="meow-pic-small" :src="catPic.Photo2" v-on:click="changeImg($event)" />
        <img class="meow-pic-small" :src="catPic.Photo3" v-on:click="changeImg($event)" />
        <img class="meow-pic-small" :src="catPic.Photo4" v-on:click="changeImg($event)" />

    </div>
    <div class="area-content">
        <h3 class="title">★喵星人  {{catInfo.Name}} </h3>
        <div class="area-top">
            <ul>
                <li>名字：{{catInfo.Name}} </li>
                <li v-if="catInfo.CatGender=='1'">性別：公</li>
                <li v-else>性別：母</li>
                <li>年齡：{{catInfo.Age}} </li>
                <li>毛色：{{catInfo.CatColor}} </li>
                <li>是否結紮：{{catInfo.Ligation}} </li>
                <li>送養人居住地區：{{catInfo.City + catInfo.Country}} </li>
                <li v-if="catInfo.Sick !== undefined">喵星人疾病史：無 </li>
                <li v-else>喵星人疾病史：{{catInfo.Sick}} </li>
            </ul>

            <ul>
                <li>刊登日期：{{(catInfo.PublishedDay).substr(0, 10)}} </li>
                <li>預防施打：{{catInfo.Vaccine}} </li>

                <li v-if="catInfo.Remark !==undefined ">備註：無 </li>
                <li v-else>備註：{{catInfo.Remark}} </li>
                <br />
                <br />
                <br />
                <li style="list-style:none">
                    @*世光新增*@
                    <img id="img" src="~/images/pageCatPlanetInhabitants/愛心(收藏)(去背).png" v-if="catInfo.CollectCheck == @ViewData["LoginUserId"] && @ViewData["LoginUserId"] != '0' " v-on:click="CancelCollect" class="collectHeart" />
                    <img id="img" src="~/images/pageCatPlanetInhabitants/愛心(取消收藏)(去背).png" v-if="catInfo.CollectCheck != @ViewData["LoginUserId"] || @ViewData["LoginUserId"] == '0'" v-on:click="Gocollect" class="collectHeart" />
                    收藏貓貓

                </li>
            </ul>
        </div>
        <hr style="height: 1px; background-color: #FEF2CB; " />
        <div class="area-bottom">
            <ul>
                送養人：{{userInfo.RealName}}
                <li>送養中貓貓：{{userInfo.userCount}}</li>
            </ul>
            <img class="userPhoto" :src="userInfo.userPhoto" />
            <button v-on:click="getAdopterInfo">我想征服牠 連繫送養人</button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
        integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
        var app = new Vue({
            el: '#app',
            data: {
                catPic: {
                    "Photo1": "@ViewData["Image"]",
                    "Photo2": "@ViewData["Image2"]",
                    "Photo3": "@ViewData["Image3"]",
                    "Photo4": "@ViewData["Image4"]",
                },
                catInfo: {
                    "Name": "@ViewData["Name"]",
                    "Vaccine": "@ViewData["Vaccine"]",
                    "Ligation": "@ViewData["Ligation"]",
                    "Chip": "@ViewData["Chip"]",
                    "City": "@ViewData["City"]",
                    "Country": "@ViewData["Country"]",
                    "CatGender": "@ViewData["CatGender"]",
                    "Age": "@ViewData["Age"]",
                    "CatColor": "@ViewData["CatColor"]",
                    "Sick": "@ViewData["Sick"]",
                    "Remark": "@ViewData["Remark"]",
                    "CatId": "@ViewData["CatId"]",
                    "PublishedDay": "@ViewData["PublishedDay"]",
                    //世光新增
                    "CollectCheck": "@ViewData["CollectCheck"]"

                },
                userInfo: {
                    "RealName": "@ViewData["RealName"]",
                    "UserId": "@ViewData["UserId"]",
                    "userCount": "@ViewData["userCount"]",
                    "userPhoto": "@ViewData["userPhoto"]",
                    //世光新增
                    "LoginUserId":"@ViewData["LoginUserId"]"
                },

                //世光新增
                CollectData: {
                    "Cat_ID": "@ViewData["CatId"]",
                    "User_ID":"@ViewData["LoginUserId"]",
                }
            },
            methods: {
                changeImg(e) {
                    let el = e.srcElement;
                    let oldSrc = $('#image').attr('src');
                    let newSrc = $(el).attr('src');

                    $('#image').attr('src', newSrc);
                    $(el).attr('src',oldSrc);
                },
                Appointment(catId) {
                    axios.get("/Schedule/Appointment/" + catId)
                        .then((res) => {
                            if (res.status == 200) {
                                top.location.href = "/Schedule/Appointment/" + catId;
                            }
                        });

                },

                //世光新增

                Gocollect() {
                    if (@ViewData["LoginUserId"] == 0) {
                        alert('需登入會員解鎖收藏功能')
                        top.location.href = "/Login/Login";
                    }
                    else {
                        /*alert(app.CollectData.Cat_ID);*/
                    app.catInfo.CollectCheck = @ViewData["LoginUserId"]
                     $.ajax(
                        {
                            type: 'POST',       //路由  後面是控制器
                            url: "@Url.Action("CreateCollect", "CatPlanetInhabitants")/",
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                            },
                            data: this.CollectData,
                            success: function (qryResult, status, xhr) {
                                console.log(qryResult);
                                console.log("收藏成功");
                            }
                        }
                    );
                    }

                },
                CancelCollect() {
                    if (this.deletecheck()) {
                        /*alert(app.CollectData.Cat_ID);*/
                        app.catInfo.CollectCheck = "0";
                        $.ajax(
                            {
                                type: 'POST',       //路由  後面是控制器
                                url: "@Url.Action("DeleteCollect", "CatPlanetInhabitants")/",
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                                },
                                data: this.CollectData,
                                success: function (qryResult, status, xhr) {
                                    console.log(qryResult);
                                    console.log("刪除成功");
                                },
                                error: function () {
                                    alert("連線失敗");
                                }
                            }
                        );
                    }
                    else {
                        alert("取消收藏失敗");
                    }
                },
                deletecheck() {
                    if (window.confirm("是否確定取消收藏?")) {
                        return true;
                    }
                    else {
                        return false;
                    }
                },
                getAdopterInfo() {
                    axios.get("/Membership/GetAdopterInfo/")
                        .then((res) => {
                            console.log(res.data.code);
                            if (res.data.code === 200) {
                                let receiver = 1;    //要傳給的人,我測試先寫死
                                $.ajax({
                                    type: "post",
                                    data: {
                                        receiver: receiver,
                                        sendTime: moment().format("YYYY-MM-DD HH:mm:ss.SSS")
                                    },
                                    url: "@Url.Action("FirstSendMessage", "MeowChat")/",
                                }).done(function (response) {
                                if (response > 0) {
                                    location.href = '@Url.Action("MessageContent", "MeowChat")' + '?other=' + receiver;
                                    }
                                }).fail(function () {
                                    console.log("連線失敗");
                                });
                            } else {
                                var yes2 = confirm("需要先填寫領養人資訊才能前往下一步哦!");
                                yes2 ? (top.location.href = "/Membership/editor") : (top.location.href = "/catdetail/catdetail")
                            }
                        })
                        .catch((error) => console.log(error))
                }
            }
        });

</script>